<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div align="center">
    <h1>Login</h1>
    <form action="#" th:action="@{/Login}" method="post" th:object="${user}">
    	<label>Username:</label>
        <input type="text" th:field="*{username}" /><br/>
        <div th:if="${#fields.hasErrors('username')}"
		th:errors="*{username}"></div>
        
    
        <label>Password:</label>
        <input type="text" th:field="*{password}" /><br/>
        <div th:if="${#fields.hasErrors('password')}"
		th:errors="*{password}"></div>   
		
		<button type="submit">Login</button>
    </form>
</div>
</body>
</html>