<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/edit}" th:object="${book}" method="post">
<p>Emp Id: <input type="text" th:field="*{bookId}" id="book"/></p>
<div th:if="${#fields.hasErrors('bookId')}"
th:errors="*{bookId}"></div>

<p>Emp Name: <input type="text" th:field="*{title}" id="ename"/></p>
<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

<p>Emp Salary: <input type="text" th:field="*{author}" id="salary"/></p>
<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>

<p>Emp Designation: <input type="text" th:field="*{publisher}" id="desgn" /></p>
<div th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></div>

<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" />

</form>
</body>
</html>